.button-component {
  border-radius: 4px;
  border: 1px solid #AAA;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0.33em;
  background-color: #FFF;
  &:hover {
    background-color: #DDD;
    border: 1px solid #888;
  }
  &--pressed {
    background-color: #DDD;
    color: #333;
  }
}
