/* Base Application Styles */
body {
  color: #333;
  background: #eee;
  &,html {
    * {
      box-sizing: border-box;
    }
  }
}

a {
  color: #0089ff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: blue;
}
h1{
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 7px;
}

h3, h4, h5 {
  margin-bottom: 5px;
}
p {
  margin-top: 2px;
  margin-bottom: 15px;
}
.index {
  width: 80%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 800px){
  .index {
    width: 100%;
  }
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
